bin/*
lib/*
ipch/*
ipch/*/
ipch/*/*
build/*
docs/documentation
a.out
*.o
*.so*
*.dll
*.exe
*.[0-9]
*.swp
*.sln
*.suo
*.sdf
*.opensdf
*.lib
*.exp
*.vcproj
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
CMakeLists.txt.user
.*
!/.gitignore
Config.mk
