
p.example {
	font-family: Consolas, Courier, monospace;
	font-size: 12px
}
.sc2 {
	color: #006000;
}
.sc4 {
	color: #EA8015;
}
.sc5 {
	color: #800080;
}
.sc6 {
	font-weight: bold;
	color: #3030CF;
}
.sc7 {
	font-weight: bold;
	color: #400040;
}
.sc10 {
	font-weight: bold;
	color: #000040;
}
.sc14 {
	color: #747474;
}