name: normal-build

on:
  push:

jobs:
  windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Configure
        run: >
          cmake -S . -B build
          -DAW_ENABLE_GRAPHICS:BOOL=OFF
          -DAW_ENABLE_HUDF:BOOL=ON
          -DAW_OUTPUT_JUNIT:BOOL=ON
      - name: Build
        run: cmake --build build
      - name: Test
        run: ctest --test-dir build -C Debug --output-on-failure
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: success() || failure()
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
  ubuntu:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Configure
        run: >
          cmake -S . -B build
          -DAW_ENABLE_GRAPHICS:BOOL=OFF
          -DAW_ENABLE_ASSERT:BOOL=OFF
          -DAW_ENABLE_HUDF:BOOL=ON
          -DAW_OUTPUT_JUNIT:BOOL=ON
      - name: Build
        run: cmake --build build
      - name: Test
        run: ctest --test-dir build --output-on-failure
